<!DOCTYPE html>
<html>

<head>
  <title>Unearth Travels</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <style type="text/css">
    html,
    body {
      background-color: #e9e9e9;
      font-family: Roboto, 'Helvetica', sans-serif;
    }

    .container {
      margin: 0 auto;
      width: 572px;
      border-radius: 5px;
      background-color: #ffffff;
      font-family: Roboto, "Helvetica", sans-serif;
    }

    .container .content {
      padding: 0px 10px;
      width: 450px;
    }

    .container .header {
      height: 88px;
      border-radius: 5px 5px 0 0;
      background-color: #1B475E;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container .header .img {
      text-align: center;
      width: 100%;
      height: auto;
    }

    .container .header .img img {
      width: 20%;
      display: block;
      margin: 0 auto;
      margin-top: 14px;
    }

    .container .content {
      padding: 0px 60px;
    }

    .container .content h1 {
      color: #1B475E;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      margin-top: 45px;
    }

    .container .content .text {
      color: #3C3C3C;
      font-size: 13px;
      line-height: 20px;
      font-weight: normal;
    }

    .container .content .travel-table {
      color: #1B475E;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      margin-top: 33px;
    }

    .container .content .travel-table .data-value {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    .container .content .separator {
      height: 1px;
      width: 450px;
      background: #f0f0f0;
      margin-top: 18px;
      margin-bottom: 18px;
    }

    .container .content .table-passengers {
      color: #1B475E;
      font-size: 13px;
    }

    .container .content .table-passengers .passenger-value {
      font-weight: bold;
      margin-left: 20px;
      display: flex;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="img">
        <!-- AQUI VA UNA IMAGEN-->
        <img class="logo" src="cid:title-unearth">
      </div>
    </div>
    <!-- /div de headr-->
    <div class=" content">
      <h1>
        Aviso.
        <% user %>
      </h1>
      <div class="text">El cupo mínimo de un paquete no ha sido alcanzado. A continuación te damos los detalles del
        paquete:
      </div>
      <table class="travel-table">
        <tr>
          <td>Pasajeros:</td>
          <td class="data-value"><%= user.people %></td>
        </tr>
        <tr>
          <td>Paquete:</td>
          <td class="data-value"><%= user.name %></td>
        </tr>
        <tr>
          <td>Fecha:</td>
          <td class="data-value"><%= user.date %></td>
        </tr>
      </table>
      <% for (r of user.reservations) { %>
        <div class="separator"></div>
        <table class="table-passengers">
          <tr>
            <td>Nombre:</td>
            <td class="passenger-value"><%= r.name %></td>
          </tr>
          <tr>
            <td>Correo:</td>
            <td class="passenger-value"><%= r.mail %></td>
          </tr>
          <tr>
            <td>Monto:</td>
            <td class="passenger-value"><%= r.amount %> <%= r.currency %></td>
          </tr>
          <tr>
            <td>Adultos:</td>
            <td class="passenger-value"><%= r.adults %></td>
          </tr>
          <tr>
            <td>Niños:</td>
            <td class="passenger-value"><%= r.children %></td>
          </tr>
        </table>
      <% } %>
    </div><br><br><br>
    <!-- /div de content-->
  </div>
  <!-- /div de container-->
</body>

</html>
