<html>

<head>
	<!-- relaciona con confirm-mail.css-->
	<style>
		html,
		body {
			font-family: "Helvetica Neue";
			background-color: #e9e9e9;
		}
		h1,
		h2 {
			margin: 0;
			padding: 0;
		}
		.base {
			margin: 0 auto;
			max-width: 572px;
		}

		.base .header {
			/* min-height: 90px; */
			border-radius: 5px 5px 0 0;
			background-color: #1b475e;
			text-align: center;
			/* display: flex; */
			padding: 40px 0px;
			align-items: center;
		}

		.base .header .img {
			/* flex: 100%; */
			display: block;
			margin: 0px auto;
		}

		.base .header .img img.logo {
			width: 82px;
		}

		.base .container {
			width: 100%;
			border-radius: 0 0 5px 5px;
			background-color: #ffffff;
		}

		.base .container .content {
			padding: 34px 62px;
		}

		.base .container .content h1 {
			color: #3c3c3c;
			text-align: left;
			font-size: 14px;
		}

		.base .container .content p.reservation {
			color: #747474;
			font-size: 12px;
			line-height: 24px;
			text-align: left;
		}

		.base .container .content .table .label {
			color: #747474;
			font-size: 12px;
			line-height: 24px;
		}

		.base .container .content .table .value {
			font-size: 12px;
			font-weight: 500;
			color: #1b475e;
			padding: 0px 40px;
		}

		.base .container .content .comments {
			margin-top: 22px;
		}

		.base .container .content .comments h2 {
			font-size: 12px;
			font-weight: bold;
			color: #3c3c3c;
		}

		.base .container .content .comments p {
			font-size: 12px;
			font-style: italic;
			line-height: 24px;
			font-weight: normal;
			color: #747474;
		}

		.base .container .content .separator {
			height: 1px;
			background: #f0f0f0;
		}

		.base .container .content .political-cancel {
			font-size: 10px;
			line-height: 18px;
			text-align: center;
			margin-top: 7.5px;
			padding: 15px;
		}

		.base .container .content .political-cancel h2 {
			color: #1b475e;
			font-size: 11px;
		}

		.base .container .content .political-cancel p {
			color: #747474;
		}

		.base .container .content .footer {
			color: #747474;
			font-size: 10px;
			line-height: 18px;
			text-align: center;
			margin-bottom: 25px;
			margin-top: 20px;
		}

		.base .container .content .social-media {
			margin: 0 auto;
			text-align: center;
			margin-top: 20px;
		}

		.base .container .content .social-media .facebook {
			height: 32px;
			width: 32px;
			background-color: #ffffff;
		}

		.base .container .content .social-media .instagram {
			height: 32px;
			width: 32px;
			margin-left: 8px;
			background-color: #ffffff;
		}

		.base .container .content .social-media .youtube {
			height: 32px;
			width: 32px;
			margin-left: 8px;
			background-color: #ffffff;
		}

		.base .container .content .footer .unsuscribe {
			color: #484848;
			font-size: 10px;
			font-weight: bold;
		}

		.base .container .content .footer .unsuscribe p,
		.base .container .content .footer .unsuscribe p a {
			font-size: 10px;
		}

		.base .container .content .footer .unsuscribe p a {
			text-decoration: underline;
			color: #484848;
		}
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<!-- base-->
	<div class="base">
		<!-- Cabecera/Logo-->
		<div class="header">
			<!-- imagene en cabecera -->
			<div class="img">
				<img class="logo" src="cid:title-unearth">
			</div>
		</div>
		<div class="container">
			<div class="content">
				<!-- Saludo -->
				&nbsp;
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center"
							style="font:25px Arial, Helvetica, sans-serif; color:#1B475E; padding:0 0 24px; padding-top: 25px;">
							Contacto
						</td>
					</tr>
					<tr>
						<td class="reservation" data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="left"
							style="font-style:bold 20px Arial, Helvetica, sans-serif; color:#888; padding:0 0 24px;">
							¡Hola, equipo Unearth!
						</td>
					</tr>
					<p class="reservation">Has recibido un mensaje de <%= user.name %> <%= user.last_name %>.</p>
					<p class="reservation">Los detalles de contacto de <%= user.name %> se describen a continuación:</p>

				</table>
				<table class="table">
					<tr>
						<td class="label" style="padding:0 0 24px;">Correo electrónico </td>
						<td class="value" style="padding:0 0 24px;"><%= user.contact %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Nacionalidad </td>
						<td class="value" style="padding:0 0 24px;"><%= user.country %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Teléfono </td>
						<td class="value" style="padding:0 0 24px;"><%= user.phone %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Comentarios </td>
						<td class="value" style="padding:0 0 24px;"><%= user.comment %></td>
					</tr>
				</table>
				<!-- Separator -->
				<div class="separator"></div>

				<!-- pie-->
				<div class="footer">
					<p>
						Lorem ipsum dolor sit amet, consecteur adipiscing elit,sed do eiusmod tempor incidiunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
