<!DOCTYPE html>
<html>
	<head>
		<title>ABC</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- <meta name="viewport" , content="width=device-width, height=device-height, user-scalable=no"> -->
    <meta charset="utf-8">
	</head>
	<body style="width: 100%; max-width: 1066px; margin:auto; font-family: 'Arial', serif;">
		<style type="text/css">
			div, p, a, li, td { -webkit-text-size-adjust:none; }
		</style>
		<div style="font-family: 'Arial', serif; color: black">
			<table style="width: 100%; max-width: 600px; height: auto; margin: auto;background-color: #ffffff;" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
					</tr>
					<tr>
						<td>
							<table width="80%" style="margin:auto;" border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td style="padding: 8% 0 7%;">
											<span style="font-family: Arial;font-weight: bold;font-size: 24px;color: #4C83A3;">Restablecimiento de contraseña.</span>
										</td>
									</tr>
									<tr>
										<td>
											<table border="0" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td>
															<span style="font-family: Arial;font-size: 13px;color: #383838; padding-right: 8px;">Estimado</span>
														</td>
														<td>
															<span style="font-family: Arial;font-size: 15px;color: #4A4A4A;font-weight: bold;"><%= user.name %> <%= user.last_name %></span>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td style="padding: 6% 0% 1.5%;">
											<span style="font-family: Arial;font-size: 13px;color: #383838;line-height:28px;">Te informamos que tu contraseña de Unearth-Travel, fue cambiada exitosamente.</span>
										</td>
									</tr>
									<tr>
										<td>
											<br>
										</td>
									</tr>
									<tr>
										<td style="text-align: center;padding: 8.75% 0 11%;">
											<a href="<%= urls.loginAdmin() %>" style="text-decoration:none;">
												<span style="font-family: Arial;font-size: 14px;line-height: 16px;color: #ffffff;font-weight: 500;padding: 16px 50px;border-radius: 50px;background-color: #D91E47;">Iniciar sesión</span>
											</a>
										</td>
									</tr>
									<tr>
										<td style="padding-bottom: 6%;">
											<span style="font-family: Arial;font-size: 13px;line-height: 28px;color: #383838;">En caso de no haber sido tú, te sugerimos <a href="<%= urls.requestRecoveryAdmin() %>" style="color:#4C83A3;text-decoration:underline">restablecer tu contraseña</a></span>
										</td>
									</tr>
									<tr>
										<td style="border-top: 1px solid #dbdbdb"></td>
									</tr>
									<tr>
										<td style="padding: 6% 0 8.5%;">
											<span style="color:#838383;font-family: Arial;font-size: 10px;line-height: 15px;">AVISO LEGAL: Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información confidencial. Si usted no es el destinatario de este mensaje (o la persona responsable de entregar al destinatario este mensaje), se le notifica que cualquier revisión, retransmisión, revelación, distribución, copiado, materialización, otro uso o acto relacionado con el contenido de este mensaje y sus archivos adjuntos, están prohibidos. En caso de no reconocer el presente correo electrónico le suplicamos borre tanto el mensaje como sus archivos adjuntos, sin conservar copia alguna.</span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
