<html>

<head>
	<!-- relaciona con confirm-mail.css-->
	<style>
		html,
		body {
			font-family: "Helvetica Neue";
			background-color: #e9e9e9;
		}

		h1,
		h2 {
			margin: 0;
			padding: 0;
		}

		.base {
			margin: 0 auto;
			max-width: 572px;
		}

		.base .header {
			/* min-height: 90px; */
			border-radius: 5px 5px 0 0;
			background-color: #1b475e;
			text-align: center;
			/* display: flex; */
			padding: 40px 0px;
			align-items: center;
		}

		.base .header .img {
			/* flex: 100%; */
			display: block;
			margin: 0px auto;
		}

		.base .header .img img.logo {
			width: 82px;
		}

		.img {
			border-radius: 15px 15px 15px 15px;
		}

		.base .container {
			width: 100%;
			border-radius: 0 0 5px 5px;
			background-color: #ffffff;
		}

		.base .container .content {
			padding: 34px 62px;
		}

		.base .container .content h1 {
			color: #3c3c3c;
			text-align: left;
			font-size: 14px;
		}

		.base .container .content p.reservation {
			color: #747474;
			font-size: 12px;
			line-height: 24px;
			text-align: left;
		}

		.base .container .content .table .label {
			color: #747474;
			font-size: 12px;
			line-height: 24px;
		}

		.base .container .content .table .value {
			font-size: 12px;
			font-weight: 500;
			color: #1b475e;
			padding: 0px 40px;
		}

		.base .container .content .comments {
			margin-top: 22px;
		}

		.base .container .content .comments h2 {
			font-size: 12px;
			font-weight: bold;
			color: #3c3c3c;
		}

		.base .container .content .comments p {
			font-size: 12px;
			font-style: italic;
			line-height: 24px;
			font-weight: normal;
			color: #747474;
		}

		.base .container .content .separator {
			height: 1px;
			background: #f0f0f0;
		}

		.base .container .content .political-cancel {
			font-size: 10px;
			line-height: 18px;
			text-align: center;
			margin-top: 7.5px;
			padding: 15px;
		}

		.base .container .content .political-cancel h2 {
			color: #1b475e;
			font-size: 11px;
		}

		.base .container .content .political-cancel p {
			color: #747474;
		}

		.base .container .content .footer {
			color: #747474;
			font-size: 10px;
			line-height: 18px;
			text-align: center;
			margin-bottom: 25px;
			margin-top: 20px;
		}

		.base .container .content .social-media {
			margin: 0 auto;
			text-align: center;
			margin-top: 20px;
		}

		.base .container .content .social-media .facebook {
			height: 32px;
			width: 32px;
			background-color: #ffffff;
		}

		.base .container .content .social-media .instagram {
			height: 32px;
			width: 32px;
			margin-left: 8px;
			background-color: #ffffff;
		}

		.base .container .content .social-media .youtube {
			height: 32px;
			width: 32px;
			margin-left: 8px;
			background-color: #ffffff;
		}

		.base .container .content .footer .unsuscribe {
			color: #484848;
			font-size: 10px;
			font-weight: bold;
		}

		.base .container .content .footer .unsuscribe p,
		.base .container .content .footer .unsuscribe p a {
			font-size: 10px;
		}

		.base .container .content .footer .unsuscribe p a {
			text-decoration: underline;
			color: #484848;
		}
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<!-- base-->
	<div class="base">
		<!-- Cabecera/Logo-->
		<div class="header">
			<!-- imagene en cabecera -->
			<div class="img">
				<img class="logo" src="cid:title-unearth">
			</div>
		</div>
		<div class="container">
			<div class="content">
				<!-- Saludo -->
				<!-- Tu reservación-->
				<p class="reservation"><%= user.name %> <%= user.lastName %> realizó una reservación, los detalles se
					describen a continuación:</p>
				<!-- Tabla de datos -->
				<div class="img" style="background-image: url(<%=user.image%>); width: 100%; height: 166px;  overflow: hidden; background-size: cover; background-position: center; background-repeat: no-repeat;">
				</div>
				&nbsp;
				<table class="table">
					<tr>
						<td class="label" style="padding:0 0 24px;">Nombre del cliente </td>
						<td class="value" style="padding:0 0 24px;"><%= user.name %> <%= user.lastName %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Ciudad</td>
						<td class="value" style="padding:0 0 24px;"><%= user.city %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">País</td>
						<td class="value" style="padding:0 0 24px;"><%= user.country %></td>
					<tr>
						<td class="label" style="padding:0 0 24px;">Nombre del paquete <br></br> adquirido</td>
						<td class="value" style="padding:0 0 24px;"><%= user.package %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Fecha de compra</td>
						<td class="value" style="padding:0 0 24px;"><%= user.purchasedAt %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Fecha de reservación</td>
						<td class="value" style="padding:0 0 24px;"><%= user.reservationAt %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Número de adultos</td>
						<td class="value" style="padding:0 0 24px;"><%= user.adults %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Número de niños</td>
						<td class="value" style="padding:0 0 24px;"><%= user.children %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 20px;">Precio total del paquete (<%= user.currency %>)</td>
						<td class="value" style="padding:0 0 24px;"><%= user.totalCost %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Valor de cambio</td>
						<td class="value" style="padding:0 0 24px;"><%= user.changeValue %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Código de confirmación</td>
						<td class="value" style="padding:0 0 24px;"><%= user.paymentCode %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Número de transacción <br></br> de Paypal</td>
						<td class="value" style="padding:0 0 24px;"><%= user.paymentId %></td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Punto de llegada</td>
						<td class="value" style="padding:0 0 24px;"><%= user.arrival %>  <br></br> <%= user.commentA %> </td>
					</tr>
					<tr>
						<td class="label" style="padding:0 0 24px;">Punto de Salida</td>
						<td class="value" style="padding:0 0 24px;"><%= user.departure %> <br></br> <%= user.commentD %> </td>
					</tr>
				</table>
				<!-- Comentarios -->
				<div class="comments">
					<h2>Comentarios</h2>
					<p>
						<%=user.comments %>
					</p>
				</div>
				<!-- Separator -->
				<div class="separator"></div>
				<!-- Titulo politica de cancelación-->
				<div class="political-cancel">
					<h2>Política de cancelación</h2>
					<!-- Politica de cancelación-->
					<p>
						Lorem ipsum dolor sit amet, consecteur adipiscing elit,sed do eiusmod tempor
						incidiunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
				<div class="separator"></div>
				<!-- Logos-->
				<div class="social-media">
					<a href="#"><img class="facebook" src="cid:fb">
						<a href="#"><img class="instagram" src="cid:insta">
							<a href="#"><img class="youtube" src="cid:yt">
				</div>
				<!-- pie-->
				<div class="footer">
					<p>
						Lorem ipsum dolor sit amet, consecteur adipiscing elit,sed do eiusmod tempor incidiunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur.
					</p>
					<!-- unsuscribe-->
					<div class="unsuscribe">
						<p>
							If you do not wish to recibe any further e-mails from us, <a href="#">unsuscribe here.</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
